/* Reset */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}

button, input[type='submit'] {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em auto;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}

tbody tr:hover {
  background: #014055;
}

a {
  color: #fff;
  margin: 0.5rem;
  text-decoration: none;
  background-color: #012B39;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #014055;
}

select {
  width: 50px;
  background-color: #012B39;
  color: #fff;
}

/* My class */

.container {
  width: 90%;
  margin: 5vh auto;
  border-radius: 5px;
}

.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.green {
  color: rgb(0, 184, 0);
}

.width-70 {
  width: 70%;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.button-delete {
  background: rgb(219, 51, 51);
}

.button-delete:hover {
  background:rgb(124, 28, 28);
}

.button-refresh {
  background-color: rgb(92, 92, 246);
  width: 80px;
  transition: all 0.3s ease;
}

.button-refresh:hover {
  background-color: rgb(37, 37, 199);
}

.button-pagination {
  background-color: #012B39;
  transition: all 0.3s ease;
}

.button-pagination:hover {
  background-color: #014055;
}

.active {
  background-color: #364043;
}

.loaded-box {
  display: none;
  justify-content: center;
  align-items: center;
}

.img-refresh {
  width: 30px;
  margin: 0 1rem;
  cursor: pointer;
  background-color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
}

@media (max-width: 565px) {
  .container {
    width: 100%;
  }
}